 #components-layout-demo-top-side .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }

  .logo-img {
    position: relative;
    top: -1.5px;
    height: 32px;
    margin-right: 16px;
  }

  .logo-title{
    color: #fff;
  }

  .header{
    display: flex;
    justify-content: space-between;
  }

  .user-action{
    color: #fff;
  } 
  
  .site-layout-background {
    background: #fff;
    font: bold;
    font-size: 20px;
    font-size-adjust: inherit;
  }